* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0f0c43;
    color: white;
}

.content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.search_input {
    display: flex;
    justify-content: end;
    margin-right: 16px;
}

.pokemon_content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    flex-wrap: wrap;
}


.single_pokemon_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 140px;
    margin: 16px;
    border: solid 1px black;
    border-radius: 8px;

    background-color: #164b7a;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.card_header_style {
    display: flex;
    gap: 16px;
}

.poke-img {
    height: 80px;
    width: 90px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.load_More {
    margin-left: 16px;
    padding: 8px;
    border-radius: 8px;
}

dialog {
    width: 50%;
    border-radius: 8px;
    border: none;
    margin: auto;
}